*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable-nodpi/image1.webp
/app/src/main/res/drawable-nodpi/image2.webp
/app/src/main/res/drawable-nodpi/image3.webp
/app/src/main/res/drawable-nodpi/image4.webp
/app/src/main/res/drawable-nodpi/image5.webp
/app/src/main/res/drawable-nodpi/image6.webp
/app/src/main/res/drawable-nodpi/image7.webp
/app/src/main/res/drawable-nodpi/image8.webp
/app/src/main/res/drawable-nodpi/image9.webp
/app/src/main/res/drawable-nodpi/image10.webp
/app/src/main/res/drawable-nodpi/image11.webp
/app/src/main/res/drawable-nodpi/image12.webp
/app/src/main/res/drawable-nodpi/image13.webp
/app/src/main/res/drawable-nodpi/image14.webp
/app/src/main/res/drawable-nodpi/image15.webp
/app/src/main/res/drawable-nodpi/image16.webp
/app/src/main/res/drawable-nodpi/image17.webp
/app/src/main/res/drawable-nodpi/image18.webp
/app/src/main/res/drawable-nodpi/image19.webp
